table {
  border: 2px solid #000000;
}

td {
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
}

.cell {
  color: #000000;
  padding: 0;
  border: 0;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: white;
  outline: none;
}

#puzzle-input {
  width: 518px;
}

#submit-button, #solve-button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75px;
  height: 50px;
}

.col-1 {
  border-left: 5px solid #000000;
}
.col-3 {
  border-right: 5px solid #000000;
}
.col-4 {
  border-left: 5px solid #000000;
}
.col-6 {
  border-right: 5px solid #000000;
}
.col-7 {
  border-left: 5px solid #000000;
}
.col-9 {
  border-right: 5px solid #000000;
}

.row-1 {
  border-top: 5px solid #000000;
}
.row-3 {
  border-bottom: 5px solid #000000;
}
.row-4 {
  border-top: 5px solid #000000;
}
.row-6 {
  border-bottom: 5px solid #000000;
}
.row-7 {
  border-top: 5px solid #000000;
}
.row-9 {
  border-bottom: 5px solid #000000;
}
