<div class="cell container" ng-controller="SudokuCtrl">

    <h1>{{title}}</h1>

    <input type="text" id="puzzle-input" placeholder="Write down the digits of the puzzle">
    <br/>
    <button type="submit" id="submit-button" (click)="fillSudokuPuzzle()">Submit</button>

    <table id="grid">

      <tr>
        <td><input id="cell-0"  class="cell row-1 col-1 box-1" type="text" ng-value="cell-val-0"></td>
        <td><input id="cell-1"  class="cell row-1 col-2 box-1" type="text" ng-value="cell-val-1"></td>
        <td><input id="cell-2"  class="cell row-1 col-3 box-1" type="text" ng-value="cell-val-2"></td>

        <td><input id="cell-3"  class="cell row-1 col-4 box-2" type="text" ng-value="cell-val-3"></td>
        <td><input id="cell-4"  class="cell row-1 col-5 box-2" type="text" ng-value="cell-val-4"></td>
        <td><input id="cell-5"  class="cell row-1 col-6 box-2" type="text" ng-value="cell-val-5"></td>

        <td><input id="cell-6"  class="cell row-1 col-7 box-3" type="text" ng-value="cell-val-6"></td>
        <td><input id="cell-7"  class="cell row-1 col-8 box-3" type="text" ng-value="cell-val-7"></td>
        <td><input id="cell-8"  class="cell row-1 col-9 box-3" type="text" ng-value="cell-val-8"></td>
      </tr>

      <tr>
        <td><input id="cell-9"  class="cell row-2 col-1 box-1" type="text" ng-value="cell-val-9"></td>
        <td><input id="cell-10"  class="cell row-2 col-2 box-1" type="text" ng-value="cell-val-10"></td>
        <td><input id="cell-11"  class="cell row-2 col-3 box-1" type="text" ng-value="cell-val-11"></td>

        <td><input id="cell-12"  class="cell row-2 col-4 box-2" type="text" ng-value="cell-val-12"></td>
        <td><input id="cell-13"  class="cell row-2 col-5 box-2" type="text" ng-value="cell-val-13"></td>
        <td><input id="cell-14"  class="cell row-2 col-6 box-2" type="text" ng-value="cell-val-14"></td>

        <td><input id="cell-15"  class="cell row-2 col-7 box-3" type="text" ng-value="cell-val-15"></td>
        <td><input id="cell-16"  class="cell row-2 col-8 box-3" type="text" ng-value="cell-val-16"></td>
        <td><input id="cell-17"  class="cell row-2 col-9 box-3" type="text" ng-value="cell-val-17"></td>
      </tr>

      <tr>
        <td><input id="cell-18"  class="cell row-3 col-1 box-1" type="text" ng-value="cell-val-18"></td>
        <td><input id="cell-19"  class="cell row-3 col-2 box-1" type="text" ng-value="cell-val-19"></td>
        <td><input id="cell-20"  class="cell row-3 col-3 box-1" type="text" ng-value="cell-val-20"></td>

        <td><input id="cell-21"  class="cell row-3 col-4 box-2" type="text" ng-value="cell-val-21"></td>
        <td><input id="cell-22"  class="cell row-3 col-5 box-2" type="text" ng-value="cell-val-22"></td>
        <td><input id="cell-23"  class="cell row-3 col-6 box-2" type="text" ng-value="cell-val-23"></td>

        <td><input id="cell-24"  class="cell row-3 col-7 box-3" type="text" ng-value="cell-val-24"></td>
        <td><input id="cell-25"  class="cell row-3 col-8 box-3" type="text" ng-value="cell-val-25"></td>
        <td><input id="cell-26"  class="cell row-3 col-9 box-3" type="text" ng-value="cell-val-26"></td>
      </tr>

      <tr>
        <td><input id="cell-27"  class="cell row-4 col-1 box-4" type="text" ng-value="cell-val-27"></td>
        <td><input id="cell-28"  class="cell row-4 col-2 box-4" type="text" ng-value="cell-val-28"></td>
        <td><input id="cell-29"  class="cell row-4 col-3 box-4" type="text" ng-value="cell-val-29"></td>

        <td><input id="cell-30"  class="cell row-4 col-4 box-5" type="text" ng-value="cell-val-30"></td>
        <td><input id="cell-31"  class="cell row-4 col-5 box-5" type="text" ng-value="cell-val-31"></td>
        <td><input id="cell-32"  class="cell row-4 col-6 box-5" type="text" ng-value="cell-val-32"></td>

        <td><input id="cell-33"  class="cell row-4 col-7 box-6" type="text" ng-value="cell-val-33"></td>
        <td><input id="cell-34"  class="cell row-4 col-8 box-6" type="text" ng-value="cell-val-34"></td>
        <td><input id="cell-35"  class="cell row-4 col-9 box-6" type="text" ng-value="cell-val-35"></td>
      </tr>

      <tr>
        <td><input id="cell-36"  class="cell row-5 col-1 box-4" type="text" ng-value="cell-val-36"></td>
        <td><input id="cell-37"  class="cell row-5 col-2 box-4" type="text" ng-value="cell-val-37"></td>
        <td><input id="cell-38"  class="cell row-5 col-3 box-4" type="text" ng-value="cell-val-38"></td>

        <td><input id="cell-39"  class="cell row-5 col-4 box-5" type="text" ng-value="cell-val-39"></td>
        <td><input id="cell-40"  class="cell row-5 col-5 box-5" type="text" ng-value="cell-val-40"></td>
        <td><input id="cell-41"  class="cell row-5 col-6 box-5" type="text" ng-value="cell-val-41"></td>

        <td><input id="cell-42"  class="cell row-5 col-7 box-6" type="text" ng-value="cell-val-42"></td>
        <td><input id="cell-43"  class="cell row-5 col-8 box-6" type="text" ng-value="cell-val-43"></td>
        <td><input id="cell-44"  class="cell row-5 col-9 box-6" type="text" ng-value="cell-val-44"></td>
      </tr>

      <tr>
        <td><input id="cell-45"  class="cell row-6 col-1 box-4" type="text" ng-value="cell-val-45"></td>
        <td><input id="cell-46"  class="cell row-6 col-2 box-4" type="text" ng-value="cell-val-46"></td>
        <td><input id="cell-47"  class="cell row-6 col-3 box-4" type="text" ng-value="cell-val-47"></td>

        <td><input id="cell-48"  class="cell row-6 col-4 box-5" type="text" ng-value="cell-val-48"></td>
        <td><input id="cell-49"  class="cell row-6 col-5 box-5" type="text" ng-value="cell-val-49"></td>
        <td><input id="cell-50"  class="cell row-6 col-6 box-5" type="text" ng-value="cell-val-50"></td>

        <td><input id="cell-51"  class="cell row-6 col-7 box-6" type="text" ng-value="cell-val-51"></td>
        <td><input id="cell-52"  class="cell row-6 col-8 box-6" type="text" ng-value="cell-val-52"></td>
        <td><input id="cell-53"  class="cell row-6 col-9 box-6" type="text" ng-value="cell-val-53"></td>
      </tr>

      <tr>
        <td><input id="cell-54"  class="cell row-7 col-1 box-7" type="text" ng-value="cell-val-54"></td>
        <td><input id="cell-55"  class="cell row-7 col-2 box-7" type="text" ng-value="cell-val-55"></td>
        <td><input id="cell-56"  class="cell row-7 col-3 box-7" type="text" ng-value="cell-val-56"></td>

        <td><input id="cell-57"  class="cell row-7 col-4 box-8" type="text" ng-value="cell-val-57"></td>
        <td><input id="cell-58"  class="cell row-7 col-5 box-8" type="text" ng-value="cell-val-58"></td>
        <td><input id="cell-59"  class="cell row-7 col-6 box-8" type="text" ng-value="cell-val-59"></td>

        <td><input id="cell-60"  class="cell row-7 col-7 box-9" type="text" ng-value="cell-val-60"></td>
        <td><input id="cell-61"  class="cell row-7 col-8 box-9" type="text" ng-value="cell-val-61"></td>
        <td><input id="cell-62"  class="cell row-7 col-9 box-9" type="text" ng-value="cell-val-62"></td>
      </tr>

      <tr>
        <td><input id="cell-63"  class="cell row-8 col-1 box-7" type="text" ng-value="cell-val-63"></td>
        <td><input id="cell-64"  class="cell row-8 col-2 box-7" type="text" ng-value="cell-val-64"></td>
        <td><input id="cell-65"  class="cell row-8 col-3 box-7" type="text" ng-value="cell-val-65"></td>

        <td><input id="cell-66"  class="cell row-8 col-4 box-8" type="text" ng-value="cell-val-66"></td>
        <td><input id="cell-67"  class="cell row-8 col-5 box-8" type="text" ng-value="cell-val-67"></td>
        <td><input id="cell-68"  class="cell row-8 col-6 box-8" type="text" ng-value="cell-val-68"></td>

        <td><input id="cell-69"  class="cell row-8 col-7 box-9" type="text" ng-value="cell-val-69"></td>
        <td><input id="cell-70"  class="cell row-8 col-8 box-9" type="text" ng-value="cell-val-70"></td>
        <td><input id="cell-71"  class="cell row-8 col-9 box-9" type="text" ng-value="cell-val-71"></td>
      </tr>

      <tr>
        <td><input id="cell-72"  class="cell row-9 col-1 box-7" type="text" ng-value="cell-val-72"></td>
        <td><input id="cell-73"  class="cell row-9 col-2 box-7" type="text" ng-value="cell-val-73"></td>
        <td><input id="cell-74"  class="cell row-9 col-3 box-7" type="text" ng-value="cell-val-74"></td>

        <td><input id="cell-75"  class="cell row-9 col-4 box-8" type="text" ng-value="cell-val-75"></td>
        <td><input id="cell-76"  class="cell row-9 col-5 box-8" type="text" ng-value="cell-val-76"></td>
        <td><input id="cell-77"  class="cell row-9 col-6 box-8" type="text" ng-value="cell-val-77"></td>

        <td><input id="cell-78"  class="cell row-9 col-7 box-9" type="text" ng-value="cell-val-78"></td>
        <td><input id="cell-79"  class="cell row-9 col-8 box-9" type="text" ng-value="cell-val-79"></td>
        <td><input id="cell-80"  class="cell row-9 col-9 box-9" type="text" ng-value="cell-val-80"></td>
      </tr>

    </table>

    <button type="button" id="solve-button" (click)="addCandidatesToCells()">Solve</button>
    <button type="button" id="continue-button" (click)="removeRedundantCandidatesFromCells()">Continue</button>

  </div>
